html {
	overflow-x: hidden;
	scroll-behavior: auto;
}
body {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	scroll-behavior: auto;
}
.drawers-group {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.drawers-group > * {
	pointer-events: all;
}
.drawer {
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: var(--z-index);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(78, 78, 78, 0.342);
}
.drawer__panel {
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 600px;
	max-height: 400px;
	margin: auto;
	overflow-x: hidden;
}
.drawer__panel {
	transition: visibility 0.4s, opacity 0.4s, transform 0.4s;
}
.drawer:not(.drawer_open), .drawer:not(.drawer_open) .drawer__panel  {
	visibility: hidden;
	opacity: 0;
	transform: none;
}
.drawer__body {
	width: 100%;
}
.drawer:nth-child(1) .drawer__body {
	background-color: aqua;
}
.drawer:nth-child(2) .drawer__body {
	background-color: blueviolet;
}
.drawer:nth-child(3) .drawer__body {
	background-color: brown;
}